<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.cs.works.mapper.WorksMapper">


    <update id="incCommentCount" parameterType="works">
        update works
        set comment_count = comment_count + #{commentCount}
        where id = #{id}
    </update>

   <update id="addScoreCount" parameterType="works">
       update works
       set score_count = score_count + #{scoreCount}
       where id = #{id}
   </update>
    <update id="updateScore" parameterType="works">
        update works
        set score = (score*(score_count) + #{score} ) /(score_count + 1)
        where id = #{id}
    </update>
    <update id="decCommentCount" parameterType="works">
        update works
        set comment_count = comment_count + #{commentCount}
        where id = #{id}
    </update>


</mapper>
